* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #29bde0;
}
header {
    width: 100%;height: 108px;
    position: fixed; top: 0;
}
.header-top {
    width: 100%; height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.tips {
    width: 100%; height: 50px;
    line-height: 50px;
    background-color: #b9e9f5;
}
.tips p {
    margin-left: 20px;
    font-size: 16px;
}
.btn-audio {
    width: 26px; height: 26px;
    background: url(task7images/css_sprites.png) -416px -10px;
    background-size: 452px 48px;
    position: absolute; top: 62px; right: 15px;
}
.triangle-down {
    position: absolute; top: 100px; left: 40px;
    width: 0; height: 0;
    border-top: 8px solid #b9e9f5;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.header-icon-left {
    width: 20px; height: 20px;
    background: url(task7images/css_sprites.png) -291px -10px;
    background-size: 452px 48px;
    position: absolute;
    top: 20px; left: 15px;
}
.header-icon-right {
    width: 18px; height: 18px;
    background: url(task7images/css_sprites.png) -253px -10px;
    background-size: 452px 48px;
    position: absolute;
    top: 21px; right: 15px;
}
main {
    position: absolute; top: 108px;
    width: 100%; height: auto;
    bottom: 85px;
    overflow: auto;
}
.tip1 {
    color: white;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 10px;
}
.player-row {
    display: flex;
    justify-content: space-around;
    padding: 5vw 0;
}
.player-details {
    width: 23vw; height: 23vw;
    border: white solid 3px;
}
.player-identity {
    width: 100%; height: 19vw;
    background-color: #f5c97b;
    line-height: 19vw;
    text-align: center;
}
.player-number {
    width: 100%; height: 4vw;
    background-color: #83b09a;
    line-height: 4vw;
    text-align: center;
    color: white;
}
.player-details:hover .options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.icon-1 {
    width: 15px; height: 15px;
    background: url(task7images/css_sprites.png) -181px -10px;
    background-size: 452px 48px;
}
.icon-2 {
    width: 15px; height: 15px;
    background: url(task7images/css_sprites.png) -146px -10px;
    background-size: 452px 48px;
}
.icon-3 {
    width: 15px; height: 15px;
    background: url(task7images/css_sprites.png) -76px -10px;
    background-size: 452px 48px;
}
.icon-4 {
    width: 15px; height: 15px;
    background: url(task7images/css_sprites.png) -111px -10px;
    background-size: 452px 48px;
}
footer {
    width: 100%; height: 80px;
    position: fixed; bottom: 0;
}
.button-bottom {
    width: 76%; height: 40px;
    background-color: #fbb435;
    line-height: 40px; text-align: center;
    color: white;
    font-size: 20px;
    position: absolute; top: 15px; left: 12%; right: 12%;
    border: none; outline: none;
}